<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html" %}
  {% block body_block %}

    <td>Name: {{ pet.name }}</td>
    <td>Birth Date: {{ pet.bday }}</td>
    <td>Type: {{ pet.type }}</td>
    <td>Owner: {{ pet.owner }}</td>

    <h1>Add Visit</h1>
    <form method="POST">
      {{ visitform.as_p }}
      {% csrf_token %}
      <input type="submit" value="Submit">
    </form>

    <h3>Previous Visits</h3>
    {% for checkup in pet.visits_set.all %}
      <td>Date: {{ checkup.visit_date }}</td>
      <td>Description: {{ checkup.description }}</td>
    {% endfor %}

  {% endblock %}
