<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html" %}
  {% block body_block %}

    <h3>Find Owners</h3>
    <form method="post" value="last_name">
      <input type="search" placeholder="Search Owner by Last Name" name="searched"><button type="submit">Search</button>
      {% csrf_token %}
    </form>
      <br>
      {% for owner in listofowners %}
        <td><a href="{% url 'ownerinfo' ownerid=owner.owner_id %}">{{ owner }}</a></td>
        <td>{{ owner.address }}</td>
        <td>{{ owner.city }}</td>
        <td>{{ owner.telephone }}</td>
        <td>
          {% for pet in owner.pets_set.all %}
            {{ pet }}
          {% endfor %}
        </td>
      <br/>
      {% endfor %}

    <a href="addowner.html">Add Owner</a>

  {% endblock %}
